<div id="mangaListBox" role="tablist" aria-multiselectable="true">
  <app-mangabox
    *ngFor="let mangaDatum of mangaData|object2array|sortdec:(filter.sortMethod.slice(0,4)==='name')?'name':'time' as mangaArray;index as i;trackBy:trackByFn"
    [mangaDatum]="mangaDatum"
    [style.display]="(!mangaDatum.name?.toLowerCase().search(filter.searchName.toLowerCase())&&(filter.filterMethod==='new'?mangaDatum.lastView!==mangaDatum.chapterData.chapters.length-1:true)&&(filter.filterMethod==='read'?mangaDatum.lastView===mangaDatum.chapterData.chapters.length-1:true))?'inline':'none'"
    [style.order]="(filter.sortMethod==='oldfirst'||filter.sortMethod==='nameasc')?mangaArray.length-i:1+i"
    (lastViewChange)="lastViewChange.emit($event)"
  ></app-mangabox>
</div>

