<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">&nbsp;</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-1 active">
        <select class="form-control" id="exampleSelect1" #sortMethod
                (change)="onFilterChange(sortMethod.value,filterMethod.value,searchName.value)">
          <option value="newfirst">日期倒序</option>
          <option value="oldfirst">日期正序</option>
          <option value="nameasc">名称正序</option>
          <option value="namedec">名称倒叙</option>
        </select>
      </li>
      <li class="nav-item mx-1">
        <select class="form-control" id="exampleSelect2"
                #filterMethod (change)="onFilterChange(sortMethod.value,filterMethod.value,searchName.value)">
          <option value="all">全部</option>
          <option value="read">已读</option>
          <option value="new">未读</option>
        </select>
      </li>
      <li class="nav-item mx-1">
        <button class="btn btn-secondary btn-block" type="button" (click)="updateManga.emit()">检查更新</button>
      </li>
      <li class="nav-item mx-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            其他
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/__exit">关服</a>
            <a class="dropdown-item" href="#"
               onclick="if(confirm('确认清空数据？')){delete window.localStorage.mangaData;}">清空</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exportModal" (click)="export();">导出</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#importModal">导入</a>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索" #searchName
             (input)="onFilterChange(sortMethod.value,filterMethod.value,searchName.value)">
    </form>
  </div>
</nav>

<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <a class="navbar-brand" href="#">&nbsp;</a>
</nav>
<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">导出数据</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control">{{exportText}}</textarea>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">导入数据</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea #importData class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="import(importData.value)">导入
        </button>
      </div>
    </div>
  </div>
</div>
