<div class="card">
  <a class="card-header" role="tab" [attr.href]="mangaDatum.chapterdata.mangaurl" target="_blank">
    <div class="mangabox">
      <div class="mangacover">显示封面</div>
      <div class="mangaboxcolumn" style="flex-grow:1">
        <div class="manganame">{{mangaDatum.name}}</div>
        <div class="lastviewtitle">看到：</div>
        <div class="newesttitle">最新：</div>
      </div>
      <div class="mangaboxcolumn">
        <button class="collapsed btn btn-success btn-sm my-1" data-toggle="collapse" data-parent="#mangalistbox"
           [attr.href]="'#'+mangaDatum.chapterdata.mangaurl|url2varname" aria-expanded="true">
          展开/隐藏
        </button>
        <button class="lastview openurl btn btn-success btn-sm my-1">上次观看</button>
        <button class="newest openurl btn btn-success btn-sm my-1">最新一话</button>
      </div>
    </div>
  </a>
  <app-chapterbox  [attr.id]="mangaDatum.chapterdata.mangaurl|url2varname" class="collapse" role="tabpanel" [chapterData]="mangaDatum.chapterdata"></app-chapterbox>
</div>
