a{
  color: inherit;
  cursor: default;
  text-decoration: none;
}
.mangabox{

  flex-shrink:0;
  display:flex;
  flex-direction:row;
  .mangacover{
    width:63px;
    height:84px;
    overflow:none;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-size:1vw;
    .coverimg{
      max-width:95%;
      max-height:95%;
    }
  }
  .mangaboxcolumn{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }

}
