<a class="card-header" style="color: inherit; cursor: default; text-decoration: none;" role="tab"
   [href]="mangaDatum.chapterData.mangaUrl" target="_blank">
  <div class="mangabox">
    <div class="mangacover"
         (click)="$event.stopPropagation();$event.preventDefault();mangaDatum.coverUrl?showCover=true:0">
      <img *ngIf="showCover" [src]="mangaDatum.coverUrl" alt="" class="img-fluid">
      <div *ngIf="showCover===false">显示封面</div>
    </div>
    <div class="mangaboxcolumn" style="flex-grow:1">
      <div class="manganame">{{mangaDatum.name||mangaDatum.chapterData.mangaUrl}}</div>
      <div class="lastviewtitle">看到：{{mangaDatum.chapterData.chapters[mangaDatum.lastView]?.title||'未观看'}}</div>
      <div class="newesttitle">
        最新：{{mangaDatum.chapterData.chapters[mangaDatum.chapterData.chapters.length-1]?.title}}
      </div>
    </div>
    <div class="mangaboxcolumn">
      <button class="collapsed btn btn-success btn-sm my-1" data-toggle="collapse"
              [attr.href]="'#'+mangaDatum.chapterData.mangaUrl|url2varname" aria-expanded="false">
        展开/隐藏
      </button>
      <a class="lastview openurl btn btn-success btn-sm my-1"
         [href]="mangaDatum.chapterData.chapters[mangaDatum.lastView]?.url||mangaDatum.chapterData.chapters[0]?.url||('javascript:void(0);'|safe)"
         target="_blank">上次观看</a>
      <a class="newest openurl btn btn-success btn-sm my-1"
         [href]="mangaDatum.chapterData.chapters[mangaDatum.chapterData.chapters.length-1]?.url||('javascript:void(0);'|safe)"
         target="_blank"
         (click)="lastViewChange.emit({mangaUrl:mangaDatum.chapterData.mangaUrl,lastView:mangaDatum.chapterData.chapters.length-1})">最新一话</a>
    </div>
  </div>
</a>
<app-chapterbox [attr.id]="mangaDatum.chapterData.mangaUrl|url2varname" class="collapse" role="tabpanel"
                [attr.data-parent]="'#mangaListBox'"
                [chapterData]="mangaDatum.chapterData"
                (lastViewChange)="lastViewChange.emit({mangaUrl:mangaDatum.chapterData.mangaUrl,lastView:$event})"></app-chapterbox>

