<div class="card-block chapterbox">
    <div class="author">{{chapterData.author}}</div>
    <div class="brief">{{chapterData.brief}}</div>
    <div style="display:flex;flex-direction:row;justify-content:flex-end;border: solid #eee;border-width:1px 0px">
      <p style="flex-grow:1;text-align:left;">漫画章节</p>
      <div class="chaptersort">正序↑</div>
      <div class="chaptersort">倒序↓</div>
    </div>
    <div class="chapterlistbox">
      <a *ngFor="let chapter of chapterData.chapters;trackBy:trackByFn" class="chapterbutton openurl" [attr.href]="chapter.url" target="_blank">{{chapter.title}}</a>
    </div>
</div>

